infraestructure/.terraform/providers/registry.terraform.io/cloudflare/cloudflare/3.32.0/windows_amd64/terraform-provider-cloudflare_v3.32.0.exe
infraestructure/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
infraestructure/.terraform/providers/registry.terraform.io/hashicorp/aws/4.50.0/windows_amd64/terraform-provider-aws_v4.50.0_x5.exe
infraestructure/.terraform/providers/registry.terraform.io/cloudflare/cloudflare/3.34.0/windows_amd64/terraform-provider-cloudflare_v3.34.0.exe
infraestructure/.terraform/providers/registry.terraform.io/hashicorp/time/0.9.1/windows_amd64/terraform-provider-time_v0.9.1_x5.exe
infraestructure/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.1/windows_amd64/terraform-provider-null_v3.2.1_x5.exe
infraestructure/.terraform/providers/registry.terraform.io/hashicorp/aws/4.54.0/windows_amd64/terraform-provider-aws_v4.54.0_x5.exe
infraestructure/.terraform/providers/registry.terraform.io/cloudflare/cloudflare/3.34.0/windows_amd64/README.md
infraestructure/.terraform/providers/registry.terraform.io/cloudflare/cloudflare/3.34.0/windows_amd64/LICENSE
infraestructure/.terraform/providers/registry.terraform.io/cloudflare/cloudflare/3.34.0/windows_amd64/CHANGELOG.md
infraestructure/.terraform/*
infraestructure/terraform.tfstate.backup
infraestructure/terraform.tfstate
infraestructure/.terraform/modules/modules.json
infraestructure/terraform.tfstate
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate.backup
infrastructure/terraform.tfstate
infrastructure/.terraform
infrastructure/terraform.tfvars
