infraestructure/.terraform/providers/registry.terraform.io/cloudflare/cloudflare/3.32.0/windows_amd64/terraform-provider-cloudflare_v3.32.0.exe
infraestructure/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
infraestructure/.terraform/providers/registry.terraform.io/hashicorp/aws/4.50.0/windows_amd64/terraform-provider-aws_v4.50.0_x5.exe
